<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Despesas cadastradas</title>
</head>
<body>
    <h1>Lista de Despesas</h1>
    <table border="1">
        <tr>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Data</th>
        </tr>
        {% if despesas %}
            {% for despesa in despesas %}
            <tr>
                <td>{{ despesa[1] }}</td>
                <td>R$ {{ despesa[2] }}</td>
                <td>{{ despesa[3] }}</td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="5" class="text-center text-danger">
                    <i class="bi bi-exclamation-triangle-fill"></i> Nenhum carro em aberto.
                </td>
            </tr>
        {% endif %}
    </table>
    <br>
    <a href="/cadastrar-despesa"><button type="submit">Cadastrar nova Despesa</button></a> | 
    <a href="/"><button type="submit">Voltar</button></a>
</body>
</html>
